body {
  background: #E5E5E5;
}

header {
  position: absolute;
  width: 100vw;
  left: 0px;
  top: 1px;
  background: #FFFFFF;
  padding-bottom: 60px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.img-logo {
  height: 3.5rem;
}

.header-links {
  display: flex;
  padding-right: 40px;
  padding: 10px 40px 0 40px;
}

.logo {
  width: 50%;
}

.links {
  width: 50%;
  text-align: end;
  padding-right: 20px;
}

.links > span {
  position: static;
  width: 62px;
  height: 20px;
  left: 12px;
  top: 10px;
  margin-right: 20px;
}

.links > span > a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.links > span > a:hover {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #7F8CFF;
  text-decoration: none;
}

.header-content {
  margin-top: 35vh;
  margin-left: 150px;
  margin-right: 150px;
}

.header-content__name {
  position: static;
  width: 620px;
  height: 122px;
  left: 0px;
  top: 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091E42;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 12px;
}

.header-content__content {
  position: static;
  width: 920px;
  height: 98px;
  left: 0px;
  top: 134px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #344563;
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 0px 12px;
}

.header-icons {
  margin-left: 160px;
  margin-right: 150px;
}

.header-icons > p:first-child {
  position: static;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #7F8CFF;
  margin: 8px 0px;
}

.header-icons > span {
  margin-right: 20px;
}